body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, sans-serif;
}

.contenedor {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 80%;
    height: auto;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    padding: 15px;
    color: white;
    background-color: #d50000;
}

.menu-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background-color: #d50000;
    padding-top: 60px;
    display: none; 
    flex-direction: column;
}

.menu-item {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
}

.menu-item:hover {
    background-color: #444;
}

/* Mostrar el menú cuando esté activo */
.menu-links.show {
    display: flex;
}

#cerrarSesion, .aHome, .ahabitaciones {
    display: block;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#formhabitaciones, #formRegistro, #formcontacto {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#formhabitaciones label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#formhabitaciones select, #formhabitaciones input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button, #botonh2, #botonreservaract, #botonmantener, #botoncheckin, .botonesregistro {
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #d50000;
    cursor: pointer;
    color: rgb(255, 255, 255);
    
}

.volver{
    text-decoration: none;
    color: white;
    
}

footer{
    background-color: #d50000;
    padding-left: 15%;
}
#contacto{
    margin-top: 5%;
    padding: 2%;
    color: white;
}
.formContacto {
    margin: 1%;
}

#botonContacto{
    border: 1px solid #000000;
    cursor: pointer;
}
#cerrarSesion {
    background-color: #d50000;
    border-radius: 20%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 30px;  
    height: auto;
    cursor: pointer;
    z-index: 1000; 
    padding: 0.5%;
    border: 1px solid #000000;
}
