/* Estilos responsivos para el formulario de index */
.bodyindex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#formularioIndex {
    width: 90%;
    height: 80%;
    background-image: url(imagenes/fondoHome.jpeg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#formularioIndex input {
    width: 40%;
    height: 10%;
    margin-bottom: 10px;
}

#formularioIndex input[type="submit"] {
    width: 40%;
    height: 10%;
    cursor: pointer;
    color: black;
    background-color: #FFEAB3;
}

/* Estilos para el menú en página de inicio */
.slider {
    width: 50%;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide {
    min-width: 100%;
    box-sizing: border-box;
}
.slide img {
    width: 100%;
    display: block;
}
.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer; 
}
.left {
    left: 0;

}
.right {
    right: 0;
}

.otros button{
    margin: 2%;
}

/* Grid y disposición de las habitaciones */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.grid-item {
    padding: 15px;
    border: 1px solid #ccc;
}

#contenedorimg {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
    margin-top: 5%;
}

.imagen-tooltip {
    position: relative;
    display: inline-block;
}

.imagen-tooltip img {
    height: 300px;
    display: block;
}

.imagen-tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #C82725;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.imagen-tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
